/* theme color */
/*  usually */
$color: #d52a7e;

/* action */
$tip-color-primary: #007aff;
$tip-color-success: #4cd964;
$tip-color-warning: #f0ad4e;
$tip-color-error: #dd524d;

/* text */
$text-color:#333;//基本色
$text-color-inverse:#fff;//反色
$text-color-grey:#999;//辅助灰色，如加载更多的提示信息
$text-color-placeholder: #808080;
$text-color-disable:#c0c0c0;

/* background */
$bg-color:#ffffff;
$bg-color-grey:#f8f8f8;
$bg-color-hover:#f1f1f1;//点击状态颜色
$bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色

/* layout */
/* horizontal or vertical or both center width position: absolute; */
@mixin abs-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin abs-left($distance) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $distance;
}
@mixin abs-right($distance) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: $distance;
}
@mixin abs-top($distance) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: $distance;
}
@mixin abs-bottom($distance) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: $distance;
}
@mixin abs-layout($position: center, $distance: 0) {
  @if $position == center {
    @include abs-center();
  } @else if $position == left {
    @include abs-left($distance);
  } @else if $position == right {
    @include abs-right($distance);
  } @else if $position == top {
    @include abs-top($distance);
  } @else {
    @include abs-bottom($distance);
  }
}
